 <div class="items-container">
  <div appDraggable>
      <svg>
        <g  [nodeVisual]="service" 
            [draggableNode]="node"
            [draggableInGraph]="graph">
        </g>
      </svg>
  </div>
  <div appDraggable>
      <svg height="100" width="100">
        <rect width="100" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
      </svg>
  </div>
  <div appDraggable>
      <svg height="100" width="100">
        <rect width="100" height="100"></rect>
      </svg> 
  </div>
</div>

<!--
<div class="svg-container" appDroppable>
  <svg id="dropzone" height="100%" width="100%">
  </svg>
</div> -->