 <!-- <div class="items-container">
  <div appDraggable>
      <svg>
        <g  [nodeVisual]="service" 
            [draggableNode]="node"
            [draggableInGraph]="graph">
        </g>
      </svg>
  </div>
</div> -->

<div class="items-container">
<svg>
    <svg:circle ng-model="service"
        class="node"
        [attr.cx]="20"
        [attr.cy]="20"
        [draggableNode]="service"
        [draggableInGraph]="graph"
        r="13" >
    </svg:circle>

    <svg:rect  (click)="onClickMe()"
        [attr.x]="10"
        [attr.y]="50"
        width="20" 
        height="20" 
        style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">
    </svg:rect>
    
    <svg:rect 
        [attr.x]="10"
        [attr.y]="80"
        width="20" 
        height="20" 
        style="fill:rgb(200,0,0);stroke-width:3;stroke:rgb(0,0,0)">
    </svg:rect> -->
    
    <!-- <svg:text>
      class="node-name"
      {{node.id}}
    </svg:text> -->
</svg>
</div>